@charset 'UTF-8';



body {
  font-family: "Zen Kaku Gothic New",sans-serif;
  padding: 20px;
  /* background: #EFEFEF; */
  margin: 0 auto;
  color: #3B2A70;
  width: 100%;
}

img {
  width: 100%;
  display: block;
}

h1,
h2 {
  font-family: "optima", sans-serif;
  font-weight: bold;
  font-size: 38px;
}

.small {
  font-size: 28px;
}

#startPage {
  text-align: center;
  padding: 50px 20px;
}

#startBtn {
  margin-top: 40px;
  width: 200px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#startBtn:hover {
  opacity: 0.8;
}

.press {
  opacity: 0.8;
  margin-top: 30px;
  font-size: 14px;
  letter-spacing: 0.1em;
}

#questionArea, #resultArea {
  margin-top: 30px;
  text-align: center;
}

#questionNumber {
  font-family: 'optima', sans-serif;
  font-size: 28px;
  font-weight: normal;
  letter-spacing: 0.2em;
}

#questionText {
  margin-top: 60px;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.2em;
}

#buttonArea {
  margin-top: 40px;
  margin-inline: auto;
  width: 300px;
}

button {
  width: 100%;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}

#noBtn {
  margin-top: 20px;
}


#resultArea {
  display: none;
}



/* プログレスバー */
#progressBarWrapper {
  width: 100%;
  background: #ddd;
  border-radius: 20px;
  overflow: hidden;
  height: 20px;
  margin-top: 20px;
}
#progressBar {
  height: 100%;
  width: 0%;
  background: #70c36e;
  transition: width 0.3s;
}